.container {
  border: 10px solid red;
  width: 1200px;
  margin: auto;
}

header {
  border: 2px solid black;
  text-align: center;
  box-sizing: border-box;
}

header article {}

.logoPage {
  border: 2px solid #fff;
  background-color: rgba(28, 42, 73, 255);
  height: 600px;
  text-align: center;
  box-sizing: border-box;
  color: white;
}

.logoPage p {
  /* margin: auto; */
  color: white;
  text-justify: auto;
}



.about {
  background-color: white;
  height: 600px;
  color: black;


}

.about article {}

.service {}

.products {}

.news {}

.team {}

.partners {}

footer {}