@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');


* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Roboto",
    'Noto Sans KR',
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  text-align: left;
}

div,
span,
article,
section,
header,
footer,
p,
ul,
ol,
li,
label {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style-type: none;
}

/* Logo */
.piot-logo {
  width: auto;
  height: 22px;
}

img {
  vertical-align: middle;
}

/* Navbar Area*/
#wrapper-navbar {
  box-shadow: 0 2px 2px 0 rgb(50 50 50 / 20%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  transition: transform .3s ease-in-out;
  will-change: transform;
}

@media (min-width: 576px) {
  .navbar {
    padding: 0;
    height: 75px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}



@media (min-width: 768px) {

  .navbar-expand-md .container,
  .navbar-expand-md .container-fluid {
    flex-wrap: nowrap;
  }
}

.navbar-brand {
  display: inline-block;
}

.navbar-light .navbar-brand {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding-top: 0;
}

/* Mega Menu */
#mega-menu-wrap-primary,
#mega-menu-wrap-primary #mega-menu-primary,
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item,
#mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link {
  box-shadow: none;
  border: 0;
  bottom: auto;
  clip: auto;
  display: block;
  float: none;
  font-size: 16px;
  height: auto;
  left: auto;
  line-height: 1.7;
  list-style-type: none;
  margin: 0;
  min-height: auto;
  max-height: none;
  min-width: auto;
  max-width: none;
  outline: none;
  overflow: visibile;
  padding: 0;
  position: relative;
  pointer-events: auto;
  right: auto;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  transform: none;
  top: auto;
  width: auto;
  word-wrap: break-word;
  white-space: normal;
  border-radius: 0;
  background: #fff;
  clear: both;
}

.navbar #mega-menu-wrap-primary {
  padding-right: 19px;
  opacity: 1;
  visibility: visible;
  transition: opacity .5s, visibility 0s .5s;
  margin-left: auto;
}

.navbar #mega-menu-wrap-primary.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility 0s .5s;
  transform: translateY(-99999px);
}

/* Menu Toggle */
#mega-menu-wrap-primary .mega-menu-toggle {
  display: none;
  z-index: 1;
  cursor: pointer;
  background: #222;
  line-height: 40px;
  text-align: left;
  user-select: none;
  outline: none;
  white-space: none;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block {
  display: flex;
  height: 100%;
  outline: 0;
  align-self: center;
  flex-shrink: 0;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 {
  cursor: pointer;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block {
  margin-right: 6px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block:only-child {
  margin-left: 6px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label {
  color: #ddd;
  font-size: 14px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-closed {
  display: inline;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-open {
  display: none;
}


/* Mega Menu Primary */
#mega-menu-wrap-primary #mega-menu-primary {
  visibility: visible;
  text-align: left;
  padding: 0;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item {
  margin: 0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu.mega-menu-item {
  position: static;
}

#mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link {
  cursor: pointer;
  display: inline;
}


#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
  line-height: 31px;
  height: 31px;
  padding: 0 12px;
  width: auto;
  display: block;
  color: #222;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: 22px;
  font-weight: 300;
  outline: none;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover {
  background: #fff;
  color: rgb(27, 54, 93);
  font-weight: 300;
  text-decoration: none;
  border-color: #fff;
}

/* Hamburger Menu*/
.hamburger-wrapper {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: 17px;
}

@media (max-width: 1411.98px) {
  .hamburger {
    right: 50px;
  }
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger .hamburger-inner {
  position: absolute;
  background-color: rgb(27, 54, 93);
  width: 25px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 0;
  cursor: pointer;
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .22s;
}

.hamburger .hamburger-inner:after,
.hamburger .hamburger-inner:before {
  position: absolute;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  border-top: 2px solid rgb(27, 54, 93);
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 0;
  cursor: pointer;
}

.hamburger .hamburger-inner:before {
  top: -8px;
}

.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s, opacity .1s ease-in;
}

.hamburger .hamburger-inner:after {
  bottom: -8px;
}

.hamburger--spin .hamburger-inner:after {
  transition: bottom .1s ease-in .25s, -webkit-transform .22s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.navbar .container {
  position: relative;
}


/* Offcanvas Area */
.offcanvas-content {
  position: fixed;
  width: 100%;
  height: calc(100% - 75px);
  background: #fff;
  top: 73px;
  left: 0;
  z-index: 1029;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-content.open {
  opacity: 1;
  visibility: visible;
  transition: all .5s;
}

.offcanvas-content .offcanvas-main {
  margin-top: -100px;
}

#wrapper-navbar.offcanvas-open {
  background: #fff;
  box-shadow: none;
}

body.menu-open #wrapper-navbar {
  transition: none;
  transform: none;
  z-index: 0;
}

body.menu-open #wrapper-navbar {
  z-index: 9999;
}

.offcanvas-content #off-main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: .4;
  transform: translateY(-25%) rotateX(35deg);
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}


/* Main Content */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* Header Hero */
.header-hero {
  height: calc(100vh - 75px);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-video {
  background-image: none !important;
  overflow: hidden;
}

.header-hero {
  height: 100vh;
}

.header-hero-filter {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.header-hero-content {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  max-width: 50%;
}

.header-hero .header-hero-content {
  max-width: none;
}

.header-hero .header-hero-headline {
  margin-bottom: 20px !important;
  font-size: 4rem;
}

.mag-button {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  min-width: 212px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 36px;
  border: 2px solid rgb(27, 54, 93);
  background-color: rgb(27, 54, 93);
  transition: all .2s ease-in;
  letter-spacing: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.smart-textarea_text {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.8s ease 0.2s,
    transform 0.8s ease 0.2s;
  color: rgb(85, 85, 85);
}

.mag-button:hover {
  color: rgb(27, 54, 93);
  background-color: #fff;
  border: 2px solid #fff
}

.header-hero-content .mag-button {
  margin: 0 14px;
}

.hero-video img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 8;
  left: 100px;
  top: 200px;
}



/* Headline Contents */
.mag_section_headline {
  padding: 50px 0;
}

.text-h4 {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: .4px;
  color: #000;
}

.text-h4 li,
.text-h4 p {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: .4px;
  color: #000;
}

/* Vision Contents */
.mag_kacheln {
  padding: 50px 0;
}

.home-kacheln_img {
  overflow: hidden;
}

a {
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#secondary img,
article img,
figure,
img,
img.wp-post-image {
  max-width: 100%;
  height: auto;
}

.home-kacheln_img img {
  transition: .6s ease;
}

.home-kacheln h4,
.home-kacheln-text {
  padding: 0 25px;
}

.home-kacheln h4 {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: .4px;
  color: #000;
}

.home-kacheln p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Application Section Title */
.mag_section_title {
  padding: 50px 0;
}

.mag_section_title .smart-textarea {
  padding: 0;
}

.text-cap {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: 3.5px;
  color: #000;
}

.mag_section_title h2 {
  margin: 0 !important;
}

/* References Section */
.mag_clients {
  padding: 50px 0;
}

.mag_clients .client_logo img {
  max-height: 52px;
}

/* Divider */
.divider {
  height: 60px;
  position: relative;
}

.divider:after {
  content: '';
  height: 2px;
  background: #ebeeee;
  position: absolute;
  top: 50%;
  left: 14px;
  right: 14px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: auto;
}

/* Projects Section */
.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

/* Apply Section */
.mag_bewerben {
  background-color: #ebeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.mag_bewerben>.container {
  padding: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

.mag_bewerben .row {
  align-items: center;
  margin: 0;
}

.mag_bewerben .textblock {
  padding: 0 55px;
}

.mag-button {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  min-width: 212px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 36px;
  border: 2px solid rgb(27, 54, 93);
  transition: all .2s ease-in;
  letter-spacing: 3px;
}

.mag-button__filled {
  background-color: rgb(27, 54, 93);
}

.mag-button_dark {
  color: #000;
}

.mag-button {
  padding-left: 15px;
  padding-right: 15px;
}

.mag_bewerben .image-container img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .mag_bewerben .image-container img {
    min-height: 600px;
  }
}

.mag_bewerben .image-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0 0 0 9px;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.video-play-button span {
  transition: border .2s ease-in;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 26px solid #fff;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(27, 54, 93);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .2s ease-in;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  background: 0 0;
  border: 2px solid rgb(27, 54, 93);
  border-radius: 50%;
  transition: all .2s;
  transition: border .2s;
  transition: background-color .2s ease-in;
}