/*############### XS Size ###############*/
@media (max-width: 575.98px) {
  #header {
    height: 63px;
  }
}

/*############### SM Size ###############*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .nav-wrap {
    padding: 0;
    height: 75px;
  }
}

@media (max-width: 767.98px) {}

/*############### MD Size ###############*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md>.container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 991.98px) {}

/*############### LG Size ###############*/
@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199.98px) {}

/*############### XL Size ###############*/
@media (min-width: 1200px) {
  .container {
    max-width: 1412px;
  }
}

@media (max-width: 1411.98px) {
  .hamburger {
    right: 50px;
  }
}

/*############### XXL Size ###############*/
@media (min-width: 1412px) {}