@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

:root {
  --piot-blue: rgb(27, 54, 93);
  --text: #222;
}

/* Reset CSS */
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-feature-settings: "liga";
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: var(--text);
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #222;
  background-color: transparent;
}

dl,
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* Default CSS */
.container {
  width: 100%;
  padding-right: 14px;
  padding-left: 14px;
  margin-right: auto;
  margin-left: auto;
}

#secondary img,
article img,
figure,
img,
img.wp-post-image {
  max-width: 100%;
  height: auto;
}

/* ############################## Header ############################## */
/* #################### Navbar ##################### */
#header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 2px 2px 0 rgba(50 50 50 / 20%);
}

.nav-wrap {
  margin: auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
}

.nav-wrap>.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1.25rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-light .navbar-brand {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding-top: 0;
}

.navbar-brand img {
  height: 22px;
}

.mega-menu-wrap {
  position: relative;
  background: #fff;
  padding-right: 19px;
  margin-left: auto;
}

ul.mega-menu-primary,
li.mega-menu-item,
a.mega-menu-link {
  display: block;
  position: relative;
  line-height: 1.7;
  pointer-events: auto;
  text-align: left;
  padding: 0;
}

li.mega-menu-item {
  margin: 0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

li.mega-menu-megamenu.mega-menu-item {
  position: static;
}

a.mega-menu-link {
  line-height: 31px;
  height: 31px;
  padding: 0 12px;
  display: block;
  color: #222;
  text-align: left;
  font-size: 22px;
  font-weight: 300;
  outline: none;
  cursor: pointer;
}

/* Hamburger Button */
.hamburger-wrapper {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: 17px;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger .hamburger-inner {
  position: absolute;
  background-color: var(--piot-blue);
  width: 25px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 0;
  cursor: pointer;
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .22s;
}